*{
    margin: 0%;
    padding: 0%;   
}
:root{
    --corAzul:#6EB3D0;
    --corVerde:#B6D7A8;
    --corRosa:#F7B6D2;
    --corLaranja:#F4A623;
    --corPreta:#000000;
    --corBranca:#FFFFFF;
}
header nav{
    background-color: var(--corAzul);
}
.color-button{
    background-color: #F7B6D2;
    border: none;
}
.color-button:hover{
    background-color: #ff6dac;
}
#button-enviar{
    border: none;
    color: var(--corPreta);
    background-color: var(--corAzul);
    width: 200px;
    border-radius: 5px;
}
#button-enviar:hover{
    background-color: #44bbee;
}
#notificacao{
    width: 16px;
    height: 16px;
    border-radius: 1px solid;
}
.bg-bluePersonal{
    background-color: var(--corAzul);
    text-align: center;
}
#adote{
    color: var(--corRosa);
}